     /* Background Image */
     
     body {
         /* This resource has been created by: http://alienvalley.com/ */
         background-image: url("../Images/watercolor-paper-background-13.jpg");
     }
     
     #profile-pic {
         margin-left: 30px;
     }
     
     .socials {
         height: 20px;
         width: 20px;
     }
     
     #download {
         margin-left: 10px;
     }
     
     .col-form-label,
     .form-control-plaintext {
         padding: 5px;
         line-height: 1;
     }